@import url(variables.css);
html,
body,
* {
  text-align: center;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}

#app {
  font-size: var(--app);
  padding-top: 5vh;
  width: 100vw;
  background-color: var(--secondary);
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;

  width: 90%;
  transition: all 0.3s;
}

.flip-card {
  background-color: transparent;
  width: 45rem;
  height: 45rem;
  perspective: 1000px;
  margin: 5rem auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--primary);
}

.flip-card-front {
  color: black;
  border-radius: 15px;
  padding-top: 3vh;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
  padding-top: 2vh;
}

.card-animation {
  background-color: var(--secondary);
  padding-top: 5rem;
}

.header-animation {
  background-color: var();
  height: 10vh;
  font-size: 5rem;
}

.menu {
  padding-top: 8rem;
}

.display-type {
  padding-top: 1rem;
}

.image {
  width: 16vw;
  margin-top: 1.5rem ;
  padding: 1.5rem ;
}

.image-back{
  width: 15vw;
  margin-top: 1.5rem ;
  padding: 1.5rem ;
}


:root {
  --grey: #2b2b2c;
  --black: #000000;
  --light-blue: #6c7ef7;
  --dark-blue: #504dda;
  --light-orange: #d38958;
  --dark-orange: #d16822;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  --app: 3.375rem;
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.warm {
  --primary: var(--light-orange);
  --secondary: var(--dark-orange);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.wbtn,
.cbtn,
.vbtn,
.mbtn,
.abtn,
.dbtn,
.ibtn,
.rbtn {
  border-radius: 2rem;
  padding: 5px 12px;
  margin: 5rem;
  background-color: var(--primary);
  font-family: "Noto Serif Georgian", serif;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin: auto;
  font-family: "Noto Serif Georgian", serif;
}


